:root {
    --cor-backgroud-default-header-footer: #0d0d0d ;
    --cor-preta-background: #121212;
    --cor-branca: #fff;
    --cor-preta-up-background: #1e1e1e;
    --cor-roxa-site: #6a0dad;
    --cor-hover-link: #49827e;
}

